* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none; }

body {
  font-weight: 400;
  height: 100vh;
  background: linear-gradient(#fcfc4c, transparent), linear-gradient(to top, #40f740, transparent);
  font-family: Roboto, sans-serif; }

.wrapper {
  max-width: 1140px;
  padding: 20px;
  margin: 0 auto; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  display: none;
  justify-content: center;
  align-items: center; }

.new {
  background-color: white;
  margin: 0 auto;
  width: 300px;
  height: 300px; }

.show {
  display: flex; }

.done {
  background-color: orange; }

.todo__change:hover .todo__buttons {
  background-color: orangered; }

.todo__buttons {
  background-color: blue; }

.todo__change:hover .todo__buttons {
  background-color: orangered; }
